
/* table headings */
.container > * {
    font: 4em "Arial", sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
}

/*
[background images]
Adapted from [4/14/2021]: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Resizing_background_images
 */

.library {
	background-image: url("../img/library-869061_1920.jpg");
    background-size: auto;
}

.shopping-cart {
    background-image: url("../img/shopping-cart-1923313_1920.png");
    background-size: 150px;
}

.shopping-cart h2 {
    font: 4em "Arial", sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    background-color: #1F1F1F;
}
/* end of adaptation */

/*
[select custom dropdown]
Adapted from [4/12/21]: https://www.w3schools.com/howto/howto_custom_select.asp
*/

select {
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font: 18px "Arial";
}

select:focus {
    background-color: #fccece;
}
/* end of adaptation */

/*
[input forms]
Adapted from [4/12/21]: https://www.w3schools.com/css/css_form.asp
*/

label {
    font: 18px "Arial", sans-serif;
}

[type=text], [type=email], [type=password] {
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font: 18px "Arial";
}

[type=text]:focus, [type=email]:focus, [type=password]:focus {
    background-color: #fccece;
    border: 2px solid #d9162e;
}
/* end of adaptation */

/*
[Buttons]
Adapted from [4/12/21]: https://www.w3schools.com/css/css3_buttons.asp, https://www.w3schools.com/howto/howto_css_round_buttons.asp, https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
*/
[type=button], [type=submit], [type=reset] {
    background-color: #cc3444;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: black 2px solid;
    font: 18px "Arial", sans-serif;
    width: 150px;
    padding: 10px;
    justify-content: center;
    align-self: center;
}

[type=button]:hover, [type=submit]:hover, [type=reset]:hover {
    background-color: #d9162e;
    cursor: pointer;
}
/* end of adaptation */

/*
[layout design]
Adapted from [4/13/2021]: https://www.youtube.com/watch?v=fYq5PXgSsbE&ab_channel=WebDevSimplified
 */

/* header */
.logo {
    display: flex;
    justify-content: center;
}

.nav-flex {
    display: flex;
    justify-content: center;
}
/* end of adaptation */

/*
Adapted from [4/15/2021]: https://www.youtube.com/watch?v=HqU-MjgKVAI&ab_channel=CodyHouse, https://coryrylan.com/blog/css-gap-space-with-flexbox
 */
/* center */
.flexbox {
    display: flex;
    flex-direction: column;
    --gap: 1rem;
/* Adapted from [4/17/2021]: https://alistapart.com/article/footers/*/
    min-height: 45%;
}

html, body {
    height: 100%;
}
/* end of adaptation */

.flexbox > * {
    margin-top: var(--gap);
    margin-bottom: var(--gap);
    align-self: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.horizontal-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}
/* end of adaptation */

/*
[nav bars]
Adapted from:[3/30/2021] https://www.youtube.com/watch?v=IvQAfNWnSYc&ab_channel=OnlineTutorials
 */

nav {
    background-color: #cc3444;
}

ul {
    margin: 0;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    background-color: #cc3444;

}

ul li {
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,0.3);
}

ul li:last-child {
    border-right: none;
}

ul li a {
    text-decoration: none;
    padding: 0 50px;
    display: block;
    color: #fff;
}

ul li a:hover {
    text-decoration: none;
    padding: 0 50px;
    display: block;
    color: #000;
}
/* end of adaptation */

/*
[footer]
<!--adapted from [4/1/2021]: https://www.youtube.com/watch?v=KUHrMzN7ey8&ab_channel=MarcHinton, https://www.w3docs.com/snippets/css/how-to-make-a-div-vertically-scrollable.html -->
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

footer {
    position:absolute;
    width: 100%;
    bottom: auto;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #000;
}

.inner-footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner-footer .logo-container {
    width: 35%;
    float: left;
    height:  100%;
    display: block;
}

.inner-footer .logo-container img {
    width: 200px;
    height: auto;
}

.inner-footer .footer-third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100px
}

.inner-footer .footer-third:last-child {
    margin-right: 0;
}

.inner-footer .footer-third h1 {
    font: 20px Arial, sans-serif;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third span {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third a {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.inner-footer .footer-third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 30px;
}

.user-info {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: large;
    margin-bottom: 10px;
}

@media (max-width: 800px) {

    .footer .inner-footer {
        width: 90%;
    }

    .inner-footer .logo-container, .inner-footer .footer-third, .inner-footer .footer-third span {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .inner-footer .logo-container {
        display: flex;
        justify-content: left;
        margin-left: 8%;
    }
    /* end of adaptation */

    /* external headings */
    .flexbox > h1 {
        font: 2em "Arial", sans-serif;
        text-align: center;
        font-weight: bolder;
    }

    .container h1 {
        font: 2em "Arial", sans-serif;
        font-weight: bolder;
    }

    h6 {
        font: 0.5em "Arial", sans-serif;
        text-align: center;
    }
    /* end of section */

    /*
    [hamburger menu]
    Adapted from: https://mdbootstrap.com/docs/b4/jquery/navigation/hamburger-menu/
     */
    .navbar-toggler {
        width: 50px;
    }

    .header-flexbox {
        display: none;
    }

    .navbar.navbar-1 .navbar-toggler-icon {
        background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger7.svg?color=000');
    }

    .navbar-nav {
        background-color: white;
        font-family: Arial, sans-serif;
        font-size: large;
    }

    .navbar-brand {
        font-family: Arial, sans-serif;
        background-color: white;
        font-weight: bold;
        border: black solid 4px;
    }
    /* end of adaptation */
}

    @media (min-width: 800px) {
        .navbar.navbar-1 {
            display: none;
        }
    }