
/* button */
#submit {
  text-align: center;
  padding-right: 20px;
  padding-bottom: 10px;
}

#submit #confirm1 {
  width: 100%;
}

/* table headings */
table {
  width: 600px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

th {
  text-align: center;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

tr, th, td {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#headline {
  background-color: #D3D3D3;
  color: black;
}

.table-responsive {
  overflow-x: auto; 
}

@media only screen and (max-width: 780px) {
  table {
    width: 90%;
  }
}

/*
[Create Class]
<!--adapted from [4/16/2021]: https://codepen.io/matthu185/pen/myyvgr -->
*/

#create-class {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.info {
  background-color: #F08080;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

#create-class input[type="text"], #create-class input[type="email"], #create-class input[type="password"], #create-class input[type="datetime-local"], textarea, select {
  border: none;
  font-size: 16px;
  height: auto;
  outline: 0;
  padding: 15px;
  width: 100%;
  background: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin: 0 0 30px;
}

#create-class [type=text]:focus, #create-class [type=email]:focus, #create-class [type=password]:focus, [type="datetime-local"]:focus {
	background-color: #fccece;
	border: 2px solid #d9162e;
}

#desc {
	 margin: 0 0 0;
	 height: 100px; 
	 width:  350px;
}

.sign-up {
  text-align: center;
}

@media screen and (min-width: 480px) {
  #create-class {
    max-width: 480px;
  }
}
/* end of adaptation */