#submit {
	text-align: right;
  	padding-right: 20px;
  	padding-bottom: 10px;
  
}

table {
	width: 600px;
}

th {
	text-align: center;
}

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

tbody {
	background: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/*
Adapted from [4/14/2021]: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Resizing_background_images
 */
/*
.shopping-cart {
	background-image: url("../img/shopping-cart-1923313_1920.png");
	background-size: 200px;
	opacity: 0.7;
}
/*