<!DOCTYPE html>
<!--
  Name: Marinos Dakis & Badhan Barua
  Date: 05.24.2021
  Section: CS 355
  The admin dashboard will inform an admin on what tools they have that can be used to view other users' account details
-->
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Instructor Dashboard</title>
        <link rel="stylesheet" href="/css/qcfirst-style.css">
        <link rel="stylesheet" href="/css/style-qc.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src = "/js/jquery-3.6.0.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- font-awesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>

    <!-- adapted from [3/30/2021] https://www.youtube.com/watch?v=IvQAfNWnSYc&ab_channel=OnlineTutorials -->
    <header id="header">
        <%- include ("./partials/header-admin"); %>
    </header>
    <!-- end adaptation -->

    <div class="flexbox">

        <div class="horizontal-container">

            <!-- adapted from: [4/14/2021]: https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link -->
            <div class="horizontal-container">
        		<div class="box-card">
          			<div class="box-title-wrapper">
            			<div class="box-title">User Search</div>
          			</div>
          			<div class="box-card-wrapper">
            			<div class="box-body-wrapper">
               				<div class="box-body">Search different users and display the information about their account.</div>
            			</div>
                  		<div class="box-link"><a href="/user-search" tabindex="0">Search</a></div>
                	</div>
      			</div>

      			<div class="box-card">
          			<div class="box-title-wrapper">
            			<div class="box-title">Available Courses</div>
          			</div>
          			<div class="box-card-wrapper">
            			<div class="box-body-wrapper">
               				<div class="box-body">View all of the available courses listed inside the database.</div>
            			</div>
                  		<div class="box-link"><a href="/available-courses" tabindex="0">View</a></div>
                	</div>
      			</div>

                <div class="box-card">
          			<div class="box-title-wrapper">
            			<div class="box-title">Search History</div>
          			</div>
          			<div class="box-card-wrapper">
            			<div class="box-body-wrapper">
               				<div class="box-body">View the search history of any user registered inside the database.</div>
            			</div>
                  		<div class="box-link"><a href="/search-history" tabindex="0">View</a></div>
                	</div>
      			</div>

            </div>

        </div>

    </div>

    <!--footer-->
    <!--adapted from [3/31/2021]: https://www.youtube.com/watch?v=KUHrMzN7ey8&ab_channel=MarcHinton -->
    <footer id="footer">
        <%- include ("./partials/footerUser"); %>
    </footer>
    <!-- end adaptation -->

    </body>

</html>