<!DOCTYPE html>
<!--
  Name: Badhan Barua
  Date: 04.20.2021
  Section: CS 355
  Instructors can delete a class they created.
  In a table, there will be a list of classes they have created to teach with it's information,
  such as time and days, and they can select a specific class they're deleting. After clicking on submit,
  the class will no longer show up on Course Directory and Add Class pages.
-->
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Delete Class</title>
        <link rel="stylesheet" href="/css/qcfirst-style.css">
        <link rel="stylesheet" href="/css/style-qc.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src = "/js/jquery-3.6.0.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
       <body>
          <!-- adapted from [3/30/2021] https://www.youtube.com/watch?v=IvQAfNWnSYc&ab_channel=OnlineTutorials -->
          <header id="header">
              <%- include ("./partials/header-instructor"); %>
          </header>
          <!-- end adaptation -->

          <div class="flexbox">
            <h2>Delete Class</h2>
              <!-- Class with details which can be selected to delete -->
              <div class="table-responsive">
                <table class="center table-hover">
                  <tr id="headline">
                    <th>Select</th>
                    <th>Class</th>
                    <th>Time/Days</th>
                    <th>Credits</th>
                    <th>Room</th>
                  </tr>

                  <tr>
                    <td><input type="checkbox" name="name1" />&nbsp;</td>
                    <td>Example a</td>
                    <td>Example b</td>
                    <td>Example c</td>
                    <td>Example d</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" name="name1" />&nbsp;</td>
                    <td>Example a</td>
                    <td>Example b</td>
                    <td>Example c</td>
                    <td>Example d</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" name="name1" />&nbsp;</td>
                    <td>Example a</td>
                    <td>Example b</td>
                    <td>Example c</td>
                    <td>Example d</td>
                  </tr>
                </table>
              </div>

              <form id="submit" method="POST" action="/delete-class.html">
                  <input type="submit" id="confirm" name="confirm">
              </form>

          </div>

          <!--footer-->
          <!--adapted from [3/31/2021]: https://www.youtube.com/watch?v=KUHrMzN7ey8&ab_channel=MarcHinton -->
          <footer id="footer">
               <%- include ("./partials/footerUser"); %>
          </footer>
          <!-- end adaptation -->

      </body>
</html>