<!DOCTYPE html>
<!--
  Name: Marinos Dakis
  Date: 04.20.2021
  Section: CS 355
  Similarly an Instructor dashboard will contain similar features to the student dashboard.
  The only difference being that the navigation bar will have a create class and delete class hyperlink to those pages.
  The center of the Dashboard will contain classes that the instructor has created.
-->
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Instructor Dashboard</title>
        <link rel="stylesheet" href="/css/qcfirst-style.css">
        <link rel="stylesheet" href="/css/style-qc.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src = "/js/jquery-3.6.0.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- font-awesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>

    <!-- adapted from [3/30/2021] https://www.youtube.com/watch?v=IvQAfNWnSYc&ab_channel=OnlineTutorials -->
    <header id="header">
        <%- include ("./partials/header-instructor"); %>
    </header>
    <!-- end adaptation -->

    <div class="flexbox">

        <div class="table-responsive">
            <!-- display courses -->
            <section id="input">

                    <!-- additional heading -->
                    <h1 class="header">Courses</h1>

                <form id="select-class">
                    <div class="vertical-container" id="input-background">
                        <select name="class-roster">
                            <option value="class1">CSCI355</option>
                            <option value="class2">CSCI313</option>
                        </select>
                    </div>
                </form>

                <!-- Adapted from [4/16/2021]:https://getbootstrap.com/docs/4.0/content/tables/, https://medium.com/appnroll-publication/5-practical-solutions-to-make-responsive-data-tables-ff031c48b122 -->
                <table class="table-striped table-bordered table-sm center">
                    <tr>
                        <th>Course Name</th>
                        <th>Course Id</th>
                        <th>Instructor</th>
                        <th>Schedule</th>
                        <th>Enrollment Deadline</th>
                        <th>Student Roster</th>
                    </tr>
                    <tr>
                        <td>Test a</td>
                        <td>Test b</td>
                        <td>Test c</td>
                        <td>Test d</td>
                        <td>Test e</td>
                        <td>Test f</td>
                    </tr>
                </table>
                <!-- end adaptation -->
            </section>
        </div>

        <div class="horizontal-container">
            <!-- Buttons -->
            <!-- adapted from: [4/14/2021]: https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link -->
            <button type="button" class="buttons" onclick="location.href='/student-course-dictionary'">Course Dictionary</button>
            <button type="button" class="buttons" onclick="location.href='/class-deadline-instructor'">Course Deadlines</button>
        </div>

    </div>

    <!--
    [need to add]
    Use DOM manipulation to display in the footer which user is logged in
    -->

    <!--footer-->
    <!--adapted from [3/31/2021]: https://www.youtube.com/watch?v=KUHrMzN7ey8&ab_channel=MarcHinton -->
    <footer id="footer">
        <%- include ("./partials/footerUser"); %>
    </footer>
    <!-- end adaptation -->

    </body>

</html>