<!DOCTYPE html>
<!--
  Name: Badhan Barua
  Date: 04.20.2021
  Section: CS 355

  This page has a table of classes that a student selected.
  The table has information about the classes they picked, such as instructor, credits and time/days.
  From the table, the student can select the checkbox to specify which class they want to drop.
-->
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Drop Class</title>
        <link rel="stylesheet" href="/css/qcfirst-style.css">
        <link rel="stylesheet" href="/css/style-qc.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src = "/js/jquery-3.6.0.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- adapted from [4/1/2021]: https://stackoverflow.com/questions/8988855/include-another-html-file-in-a-html-file -->

        <!-- load header -->
        <script>
            $(function(){
                $("#header").load("header-student.html");
            });
        </script>

        <!-- load footer -->
        <script>
            $(function(){
                $("#footer").load("footer.html");
            });
        </script>
        <!-- end adapt -->
    </head>

       <body>
          <!-- adapted from [3/30/2021] https://www.youtube.com/watch?v=IvQAfNWnSYc&ab_channel=OnlineTutorials -->
          <header id="header">
              <div class="header-flexbox">
                  <!-- adapted from [3/30/2021] https://www.youtube.com/watch?v=IvQAfNWnSYc&ab_channel=OnlineTutorials -->
                  <!-- nav -->
                  <nav class="navbar-desktop">
                      <div class="logo">
                          <a href = "/index.html">
                              <img src="/img/logo.svg" alt="logo" height="100" width="150">
                          </a>
                      </div>
                      <div class="nav-flex">
                          <ul>
                              <li>
                                  <a href="student-dashboard-html.html">
                                      <div class="icon">
                                          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                      </div>
                                      <div class="name" data-text="student-dashboard">Student Dashboard</div>
                                  </a>
                              </li>
                              <li>
                                  <a href="add-class.html">
                                      <div class="icon">
                                          <i class="fa fa-plus" aria-hidden="true"></i>
                                      </div>
                                      <div class="name" data-text="add-class">Add Class</div>
                                  </a>
                              </li>
                              <li>
                                  <a href="drop-class.html">
                                      <div class="icon">
                                          <i class="fa fa-minus" aria-hidden="true"></i>
                                      </div>
                                      <div class="name" data-text="drop-class">Drop Class</div>
                                  </a>
                              </li>
                              <li>
                                  <a href="student-course-dictionary-html.html">
                                      <div class="icon">
                                          <i class="fa fa-folder" aria-hidden="true"></i>
                                      </div>
                                      <div class="name" data-text="course-directory">Course Directory</div>
                                  </a>
                              </li>
                              <li>
                                  <a href="class-deadline-student.html">
                                      <div class="icon">
                                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name" data-text="class-deadlines">Class Deadlines</div>
                                  </a>
                              </li>
                              <li>
                                  <a href="change-password-student.html">
                                      <div class="icon">
                                          <i class="fa fa-key" aria-hidden="true"></i>
                                      </div>
                                      <div class="name" data-text="change-password">Change Password</div>
                                  </a>
                              </li>
                              <li>
                                  <a href="index.html">
                                      <div class="icon">
                                          <i class="fa fa-sign-out" aria-hidden="true"></i>
                                      </div>
                                      <div class="name" data-text="sign-out">Sign Out</div>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </nav>
              </div>
              <!-- end adaptation -->

              <!-- Adapted from [4/1/2021] https://mdbootstrap.com/docs/b4/jquery/navigation/hamburger-menu/ -->
              <!--Navbar-->
              <nav class="navbar navbar-light navbar-1 white">

                  <!-- Navbar brand -->
                  <a class="navbar-brand" href="index.html">Qc First</a>

                  <!-- Collapse button -->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                          aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                  <!-- Collapsible content -->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent15">

                      <!-- Links -->
                      <ul class="navbar-nav">
                          <li class="nav-item">
                              <a class="nav-link" href="student-dashboard-html.html">Student Dashboard</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="add-class.html">Add Class</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="drop-class.html">Drop Class</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="student-course-dictionary-html.html">Course Directory</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="class-deadline-student.html">Class Deadline</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="change-password-student.html">Change Password</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#">Sign Out</a>
                          </li>
                      </ul>
                      <!-- Links -->

                  </div>
                  <!-- Collapsible content -->

              </nav>
              <!--/.Navbar-->
              <!-- end of adaption -->

          </header>
          <!-- end adaptation -->

          <div class="flexbox">
              <h2>Drop Class</h2>
                <div class="table-responsive">
                  <!-- Class with details which can be selected to drop -->
                  <table class="center table-hover">
                    <tr id="headline">
                      <th>Select</th>
                      <th>Class</th>
                      <th>Instructor</th>
                      <th>Credits</th>
                      <th>Room</th>
                      <th>Time/Days</th>
                    </tr>

                    <tr>
                      <td><input type="checkbox" name="name1" />&nbsp;</td>
                      <td>Example a</td>
                      <td>Example b</td>
                      <td>Example c</td>
                      <td>Example d</td>
                      <td>Example e</td>
                    </tr>

                    <tr>
                      <td><input type="checkbox" name="name2" />&nbsp;</td>
                      <td>Example a</td>
                      <td>Example b</td>
                      <td>Example c</td>
                      <td>Example d</td>
                      <td>Example e</td>
                    </tr>

                    <tr>
                      <td><input type="checkbox" name="name1" />&nbsp;</td>
                      <td>Example a</td>
                      <td>Example b</td>
                      <td>Example c</td>
                      <td>Example d</td>
                      <td>Example e</td>
                    </tr>
                  </table>
                </div>

                <form id="submit" method="POST" action="/drop-class.html">
                  <input type="submit" id="confirm" name="confirm">
                </form>
          </div>

          <!--footer-->
          <!--adapted from [3/31/2021]: https://www.youtube.com/watch?v=KUHrMzN7ey8&ab_channel=MarcHinton -->
          <footer id="footer">
              <!--footer-->
              <!--adapted from [3/31/2021]: https://www.youtube.com/watch?v=KUHrMzN7ey8&ab_channel=MarcHinton -->
              <div class="footer-container">
                  <div class="user-info">
                      <p>Welcome to QC First</p>
                  </div>

                  <div class="inner-footer">

                      <div class="logo-container">
                          <img src="/img/logo%20footer.png" alt="logo">
                      </div>

                      <div class="footer-third">
                          <h1>Need Help?</h1>
                          <a href="http://www.cuny.edu/about/university-resources/tech-resources-help-desks/" target="_blank">Visit the Help Desk</a>
                      </div>

                      <div class="footer-third">
                          <h1>Follow Us:</h1>
                          <ol>
                              <li><a href="https://www.facebook.com/QueensCollege/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="https://www.instagram.com/queenscollegeofficial/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="https://twitter.com/QC_News?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a></li>

                          </ol>
                      </div>

                      <div class="footer-third">
                          <h1>Information:</h1>
                          <span>
                                Address:<br>
                                65-30 Kissena Blvd,<br>
                                Flushing, NY 11367<br>
                                Phone: (718) 997-5000<br>
                            </span>
                      </div>
                  </div>
              </div>
              <!-- end adaptation -->

          </footer>
          <!-- end adaptation -->

      </body>
</html>