<!DOCTYPE html>
<!--
  Name: Marinos Dakis
  Date: 04.20.2021
  Section: CS 355

  The Student dashboard will contain a list of all the classes a student is registered for for the next upcoming term.
  The dashboard will also contain a navigation bar at the top which will navigate a user to the Add Class Page,
  the Drop Class Page, and the Change Password Page. On the top right of the navigation bar a user will be able to log out from their session.
  Moreover, below the table with the registered class information a user will be able to navigate to the course dictionary page and the course deadline page.
  The footer will contain information about the signed in user, whenever a user is in an active session.
-->
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Student Dashboard</title>
        <link rel="stylesheet" href="../../public/css/qcfirst-style.css">
        <link rel="stylesheet" href="../../public/css/style-qc.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src = "../../public/js/jquery-3.6.0.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- font-awesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- adapted from [4/1/2021]: https://stackoverflow.com/questions/8988855/include-another-html-file-in-a-html-file -->

        <!-- load header -->
        <script>
            $(function(){
                $("#header").load("header-student.html");
            });
        </script>

        <!-- load footer -->
        <script>
            $(function(){
                $("#footer").load("footer.html");
            });
        </script>
        <!-- end adapt -->
    </head>

    <body>

    <!-- adapted from [3/30/2021] https://www.youtube.com/watch?v=IvQAfNWnSYc&ab_channel=OnlineTutorials -->
    <header id="header">

    </header>
    <!-- end adaptation -->

    <div class="flexbox">

        <div class="table-responsive">
            <!-- display courses -->
            <section id="input">

                <div class="container">
                    <!-- additional heading -->
                    <h1 class="header">Courses</h1>
                </div>

                <!-- Adapted from [4/16/2021]:https://getbootstrap.com/docs/4.0/content/tables/, https://medium.com/appnroll-publication/5-practical-solutions-to-make-responsive-data-tables-ff031c48b122 -->
                <table class="table-striped table-bordered table-sm center">
                            <tr>
                                <th>Course Name</th>
                                <th>Course Id</th>
                                <th>Instructor</th>
                                <th>Schedule</th>
                                <th>Enrollment Deadline</th>
                            </tr>
                            <tr>
                                <td>Test a</td>
                                <td>Test b</td>
                                <td>Test c</td>
                                <td>Test d</td>
                                <td>Test e</td>
                            </tr>
                    </table>
                    <!-- end adaptation -->
            </section>
        </div>

        <div class="horizontal-container">
            <!-- Buttons -->
            <!-- adapted from: [4/14/2021]: https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link -->
            <button type="button" class="buttons" onclick="location.href='student-course-dictionary-html.html'">Course Dictionary</button>
            <button type="button" class="buttons" onclick="location.href='class-deadline-student.html'">Course Deadlines</button>
        </div>

    </div>

    <!--
   [need to add]
   Use DOM manipulation to display in the footer which user is logged in
   -->

    <!--footer-->
    <!--adapted from [3/31/2021]: https://www.youtube.com/watch?v=KUHrMzN7ey8&ab_channel=MarcHinton -->
    <footer id="footer">

    </footer>
    <!-- end adaptation -->

    </body>

</html>